*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.keystore
*.jks
/app/release
/app/debug
/app/keystore/*
!/app/keystore/.gitkeep
/_secrets/
